<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h3>Login Here</h3>

    <label for="email">Username</label>
    <input type="text" placeholder="Email or Phone" id="email" formControlName="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" formControlName="password">

    <button type="submit">Login</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
</form>