<div *ngIf="games.length > 0; else noGames">
  <div class="game-grid">
      <div *ngFor="let game of games" class="game-card">
          <img [src]="game.background_image" alt="{{ game.name }}" />
          <div class="game-info">
              <h3>{{ game.name }}</h3>
              <p>{{ game.metacritic }}</p>
              <ul>
                  <li *ngFor="let platform of game.platforms"> {{ platform.platform.name }}</li>
              </ul>
              <ul>
                  <li *ngFor="let genre of game.genres"> {{ genre.name }}</li>
              </ul>
              <p>{{ game.released }}</p>
          </div>
      </div>
  </div>
</div>

<ng-template #noGames>
</ng-template>
