*{
  margin: 0%;
  padding: 0%;
  font-family: system-ui;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #121212;
  overflow-y: hidden;
  height: 100%;
}


.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.game-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}
