<!-- Si el usuario está cargando -->
<div *ngIf="isLoading">
    <p>Loading user data...</p>
</div>

<!-- Si hay un usuario válido -->
<div *ngIf="user && !isLoading">
    <h1>Welcome, {{ user.name }}!</h1>
    <h2>Your Favorite Games</h2>

    <carousel [itemsPerSlide]="4">
        <slide *ngFor="let game of user.favoriteGames">
            <img [src]="game.imageUrl" alt="Game Image" width="100">
        </slide>
    </carousel>
</div>



<!-- Si hay un error al cargar los datos del usuario -->
<div *ngIf="error">
    <p>There was an error fetching the user data.</p>
</div>

<ng-template #loadingTemplate>
</ng-template>