<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3>Register Here</h3>

    <label for="name">Username</label>
    <input type="text" placeholder="Name" id="name" formControlName="name">

    <label for="password-register">Password</label>
    <input type="password" placeholder="Password" id="password-register" formControlName="password">

    <label for="email-register">Email</label>
    <input type="text" placeholder="Email" id="email-register" formControlName="email">

    <button type="submit">Register</button>
</form>
