<div *ngIf="game" class="game-container" [style.background-image]="'url(' + game.background_image + ')'">

    <h1 class="display-4 mb-3">{{ game.name }}</h1>

    <div class="container-fluid game-details">
        <div class="row">
            <div class="col-md-4 info-section">
                <div class="game-info">
                    <div class="game-metacritic">
                        <strong>Metacritic:</strong> {{ game.metacritic }}
                    </div>
                    <div class="game-released">
                        <strong>Release Date:</strong> {{ game.released }}
                    </div>
                    <div class="game-genres">
                        <strong>Genres:</strong>
                        <ul>
                            <li *ngFor="let genre of game.genres">{{ genre.name }}</li>
                        </ul>
                    </div>
                    <div class="game-stores">
                        <strong>Available on:</strong>
                        <ul>
                            <li *ngFor="let store of game.stores">{{ store.store.name }}</li>
                        </ul>
                    </div>
                </div>
                <div class="game-description" [innerHTML]="game.description"></div>
            </div>
            <div class="col-md-8 screenshotsDiv">
                <div class="row">
                    <ng-container *ngIf="game.screenshots; else loadingScreenshots">
                        <div class="col-4" *ngFor="let screenshot of game.screenshots; let i = index">
                            <img src="{{ screenshot.image }}" alt="Screenshot thumbnail"
                                class="img-thumbnail lazy-loaded" style="cursor: pointer;" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#screenshotModal-' + i">
                        </div>
                    </ng-container>
                    <ng-template #loadingScreenshots>
                        <div class="col-6 loading-placeholder" *ngFor="let dummy of [].constructor(6)">

                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-container">
        <h3 class="comment-section">Comments</h3>
        <div *ngIf="comments.length === 0">
            <h1 class="noComments">There are no comments yet, be the first to comment!</h1>
        </div>
        <div *ngFor="let comment of displayedComments" class="comment" [hidden]="comments.length ? false : true">
            <div *ngIf="comment.content; else placeholder">
                <p>{{ comment.userName }}</p>
                <p>{{ comment.content }}</p>
                <small>{{ comment.date | date: 'medium' }}</small>
                <button *ngIf="user?.email === comment.email" (click)="deleteComment(comment._id!)"
                    class="btn-delete btn btn-danger btn-sm" title="Delete comment">
                    <i class="bi bi-trash"></i>
                </button>

            </div>
            <ng-template #placeholder>
                <div class="comment-placeholder">
                </div>
            </ng-template>
        </div>

        <div class="prevNext" *ngIf="comments && comments.length > 0">
            <button (click)="loadMoreComments()" class="btn-load-more">
                <i class="bi bi-arrow-right"></i>
            </button>
            <button (click)="loadPreviousComments()" class="btn-load-more">
                <i class="bi bi-arrow-left"></i>
            </button>



        </div>

        <div class="publish-comment">
            <textarea [(ngModel)]="newComment" maxlength="160"></textarea>
            <button *ngIf="user" (click)="postComment()">Publish</button>
            <button *ngIf="!user" (click)="navigateToLogin()">Login</button>
        </div>

    </div>
</div>
<ng-container *ngFor="let screenshot of game?.screenshots; let i = index">
    <div class="modal" [id]="'screenshotModal-' + i" tabindex="-1" aria-labelledby="'screenshotModalLabel-' + i"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <img src="{{ screenshot.image }}" alt="Screenshot {{i + 1}}" class="img-fluid modal-image">
                </div>
            </div>
        </div>
    </div>
</ng-container>