body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.game-container {
  width: 80%;
  margin: 2.5vh auto; /* Ajustado a vh para un espaciado relativo */
  padding: 1.25vw; /* Ajustado a vw para mantener el espaciado proporcional */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  background-position: center top;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw #000000; /* Ajustado a vw para sombras de texto proporcionales */
  position: relative;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1); /* Ajustado a vw para sombras proporcionales */
}

.game-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.img-thumbnail {
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 3.8%;
  min-width: 300px;
  border-radius: 0px;
}

.game-container * {
  z-index: 2;
}

/* Comments Section */
.comment-section {
  margin-top: 30px;
}

.comment {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Lighter and semitransparent background */
  color: #fff;
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow-wrap: break-word;
  width: 100%;
  min-height: 15vh;
  position: relative; /* For positioning the date */
  font-family: "Arial", sans-serif; /* Changed font */
  height: auto;
  max-height: 15vh;
  overflow: hidden;
}
.comments-container {
  width: 60%;
}

.comments-container::after {
  content: "";
  display: block;
  padding-bottom: 33.33%; /* Esto mantendrá la relación de aspecto si decides no usar aspect-ratio */
}

@media (max-width: 768px) {
  .comments-container {
    width: 95%; /* Ajuste para pantallas más pequeñas */
    padding: 10px;
    aspect-ratio: auto; /* O puedes cambiar la relación de aspecto para dispositivos móviles si es necesario */
  }
}
.comment:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.comment p {
  margin-top: 4px; /* Reduced space above the content */
  font-size: 1em; /* Slightly bigger text for content */
}

.comment small {
  position: absolute;
  right: 15px;
  bottom: 10px; /* Positioned at the bottom right */
  font-size: 0.8em; /* Smaller font size for the date */
  color: #fff; /* Darker grey to stand out from the background */
}

/* Encabezado de la sección de comentarios */
.comment-section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555; /* Darker grey color for the title */
  background-color: rgba(0, 0, 0, 0.1); /* Slightly transparent background */
  padding: 10px;
  border-radius: 5px;
}

/* Botón de publicación */
.publish-comment button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  font-weight: 600;
  margin-right: 40%;
}

.publish-comment button:hover,
.publish-comment button:focus {
  background-color: #0056b3;
  outline: none;
}

.publish-comment textarea {
  width: 50%;
  margin-right: 20%;
  height: 120px;
  resize: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 120px;
  overflow-y: auto;
}
.custom-modal .modal-dialog {
  max-width: none;
  width: auto;
}

.custom-modal .modal-content {
  max-width: fit-content;
  margin: 1rem auto;
}

.custom-modal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1050;
}

.custom-modal .modal-header .btn-close {
  background: none;
  border: none;
}

.noComments {
  min-height: 515px;
}

.custom-modal .modal-body {
  position: relative;
}

.modal-image {
  transform: scale(2);
  transition: transform 0.5s ease-out;
}
.btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: white;
  border: none;
}

/* Change color on hover */
.btn-delete:hover {
  color: red;
}
.screenshotsDiv {
  overflow: hidden;
}
/* Bootstrap icon adjustments */
.bi-trash {
  font-size: 1.25rem; /* Adjust size as needed */
}

/* Adjust the top-right position as needed */
.comment .btn-delete {
  top: 10px;
  right: 10px;
}
.btn-load-more {
  background-color: transparent;
  color: white; /* O el color que desees */
  border: none;
  font-size: 2em;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  float: right; /* Alinea el botón a la derecha */
}


.loading-placeholder {
  height: 160px; /* Altura de los screenshots */
  background-color: transparent; /* Un color de fo;ndo para el placeholder */
  border-radius: 4px; /* Si quieres bordes redondeados para el placeholder */
  margin-bottom: 15px; /* Mantener consistencia en el espaciado */
  animation: pulse 1.5s infinite ease-in-out; /* Una pequeña animación de pulso */
}
.screenshot-container {
  display: flex;
  flex-wrap: nowrap; /* Asegúrate de que las imágenes se mantengan en una fila */
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin: 0 -15px; /* Ajustar según tu diseño */
}

.screenshot-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.img-thumbnail {
  flex: 0 0 auto; /* Esto asegura que las imágenes no se estiren o encogen */
  margin-right: 15px; /* Espaciado entre imágenes */
  min-width: 300px; /* Tamaño mínimo para las imágenes */
  width: auto; /* Esto asegura que las imágenes conserven su tamaño original si es mayor a 300px */
  height: auto; /* Esto asegura que la altura de la imagen se ajuste proporcionalmente */
}

/* Estilo para ocultar la barra de desplazamiento pero permitir el scroll */
.screenshot-container::-webkit-scrollbar {
  display: none; /* Para navegadores webkit como Chrome y Safari */
}

.screenshot-container {
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
  scrollbar-width: none; /* Para Firefox */
}

@keyframes fadeInImage {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsiveness */
@media (max-width: 768px) {
  .game-container {
    width: 95%;
    padding: 10px;
  }

  .comment-section,
  .publish-comment {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .screenshot-container {
    margin: 0 -10px;
  }

  .screenshot-thumbnail {
    min-width: 120px; /* Tamaño más pequeño para pantallas más estrechas */
    margin-right: 10px; /* Espaciado menor entre imágenes */
  }
}
@media (max-width: 1300px) {
  .comment {    
    min-height: 18vh;
    width: 100%;
  }
  .prevNext{
    margin-left: 40%;
  }
  .modal-image {
    transform: scale(1.5);
    transition: transform 0.5s ease-out;
  }
}
@media (max-width: 1000px) {
  .comment {    
    min-height: 20vh;
  }
  .comments-container{
    width: 100%;
  }
  .prevNext{
    margin-left: 0%;
  }
}
@media (max-width: 600px) {
  .comment {    
    min-height: 30vh;
    padding: 5%;
  }
  .comments-container{
    width: 100%;
  }
  .publish-comment{
    width: 100%;
  }
  .prevNext{
    margin-left: 0%;
  }
}
@media (min-width: 1920px) {
  .modal-image {
    transform: scale(3);
    transition: transform 0.5s ease-out;
  }
}
