html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.game-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  background-position: center top;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.game-container * {
  z-index: 2;
}

/* Comments Section */
.comment-section {
  margin-top: 30px;
}

.comment {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Lighter and semitransparent background */
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 600px;
  min-height: 150px;
  position: relative; /* For positioning the date */
  font-family: "Arial", sans-serif; /* Changed font */
  height: auto;
  max-height: 150px;
  overflow: hidden;
}

.comment:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.comment p {
  margin-top: 4px; /* Reduced space above the content */
  font-size: 1em; /* Slightly bigger text for content */
}

.comment small {
  position: absolute;
  right: 15px;
  bottom: 10px; /* Positioned at the bottom right */
  font-size: 0.8em; /* Smaller font size for the date */
  color: #fff; /* Darker grey to stand out from the background */
}

/* Encabezado de la sección de comentarios */
.comment-section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555; /* Darker grey color for the title */
  background-color: rgba(0, 0, 0, 0.1); /* Slightly transparent background */
  padding: 10px;
  border-radius: 5px;
}

/* Botón de publicación */
.publish-comment button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  font-weight: 600;
}

.publish-comment button:hover,
.publish-comment button:focus {
  background-color: #0056b3;
  outline: none;
}

.publish-comment textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 120px;
  overflow-y: auto;
}
.custom-modal .modal-dialog {
  max-width: none;
  width: auto;
}

.custom-modal .modal-content {
  max-width: fit-content;
  margin: 1rem auto;
}

.custom-modal .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1050;
}

.custom-modal .modal-header .btn-close {
  background: none;
  border: none;
}

.noComments {
  min-height: 450px;
}

.custom-modal .modal-body {
  position: relative;
}

.modal-image {
  /* Escala la imagen al doble de su tamaño */
  transform: scale(3);
  transition: transform 0.5s ease-out;
}

@keyframes fadeInImage {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsiveness */
@media (max-width: 768px) {
  .game-container {
    width: 95%;
    padding: 10px;
  }

  .comment-section,
  .publish-comment {
    padding: 10px;
  }
}
