<div *ngIf="game" class="game-container">
    <img [src]="game.background_image" alt="{{ game.name }}" class="game-image" />
    <h1 class="game-title">{{ game.name }}</h1>
    <div class="game-description" [innerHTML]="game.description"></div>
    <div class="game-rating">
        <strong>Rating:</strong> {{ game.rating }}
    </div>
    <div class="game-metacritic">
        <strong>Metacritic:</strong> {{ game.metacritic }}
    </div>
    <div class="game-released">
        <strong>Release Date:</strong> {{ game.released }}
    </div>
    <div class="game-genres">
        <strong>Genres:</strong>
        <span *ngFor="let genre of game.genres">{{ genre.name }}</span>
    </div>
    <div class="game-stores">
        <strong>Available on:</strong>
        <span *ngFor="let store of game.stores">{{ store.store.name }}</span>
    </div>
    <h3 class="comment-section"></h3>
    <div *ngIf="comments.length === 0">
        <h1>There are no comments yet, be the first to comment!</h1>
    </div>
    <div *ngFor="let comment of comments" class="comment">
        <strong>{{ comment.userName }}</strong>
        <p>{{ comment.content }}</p>
        <small>{{ comment.date | date }}</small>
    </div>
    <div class="publish-comment">
        <textarea [(ngModel)]="newComment"></textarea>
        <!-- Muestra el botón de "Publicar" si el usuario está conectado -->
        <button *ngIf="user" (click)="postComment()">Publicar</button>

        <!-- Muestra el botón de "Iniciar sesión" si el usuario no está conectado -->
        <button *ngIf="!user" (click)="navigateToLogin()">Iniciar sesión</button>
    </div>
</div>